<section class="feature-main">
  <article class="vertical-center">
    <h1>What are you looking forward to?</h1>
    <form name="occasionForm" ng-submit="occasionForm.$valid && addOccasion(occasion)" novalidate>
      <div class="field">
        <input id="occasion-name" ng-pattern="/^[a-zA-Z0-9 ]*$/" ng-model="occasion.name" required type="text" placeholder="I'm looking forward to...">
        <span class="input-error-hint">Hint: You must specify an event using no special characters</span>
      </div>
      <div class="field">
        <input id="occasion-date" ng-model="occasion.date" placeholder="yyyy-mm-dd" required type="date">
        <span class="input-error-hint">Hint: You must specify a date in the correct format (yyyy-mm-dd)</span>
      </div>
      <button type="submit">Start!</button>
    </form>
  </article>
</section>

<section class="feature-content" id="mycountdowns">

  <article>
    <h2>My Countdowns</h2>

    <div class="filter">
      Filter: <input type="text" ng-pattern="/^[a-zA-Z0-9 ]*$/" ng-model="query">
    </div>

    <table class="table countdowns">
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Countdown</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="occasion in occasions | filter:query | orderBy:orderProp | isFuture track by occasion.id" class="ctdwn-listing">
        <!-- 
        Filter function: uses the query value to create a new array that contains only those records that match the query
        -->
        <td>
          <a href="#/occasions/{{occasion.id}}">
            {{ occasion.name }}
          </a>
        </td>
        <td>
          {{ occasion.date | date }}
        </td>
        <td>
          <span>in {{occasion.date | amDifference : null : 'days'}} days</span>
        </td>
        <td>
          <a class="action-icon" href="#/occasions/{{occasion.id}}"><i class="fa fa-eye"></i></a>
          <button class="action-icon" ng-click="removeOccasion(occasion)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
      <tr ng-show="!occasions.length">
        <td colspan="3">
          You have no past countdowns
        </td>
        <td></td>
      </tr>
    </table>
  </article>
  <hr>
  <article ng-show="(occasions | isAfter).length">
    <h2>My Past Countdowns</h2>
    <table class="table countdowns">
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Countdown</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="occasion in occasions | orderBy:orderProp | isAfter" class="ctdwn-listing">
        <td>
          <a href="#/occasions/{{occasion.id}}">
            {{ occasion.name }}
          </a>
        </td>
        <td>
          {{ occasion.date | date }}
        </td>
        <td>
          <span am-time-ago="occasion.date"></span>
        </td>
        <td>
          <a class="action-icon" href="#/occasions/{{occasion.id}}"><i class="fa fa-eye"></i></a>
          <button class="action-icon" ng-click="removeOccasion(occasion)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </table>
  </article>

</section>