<div class="row row-bottom-spacing">
  <div class="col-md-12">
    <h2>What are you looking forward to?</h2>
    <form name="occasionForm" data-ng-submit="occasionForm.$valid && addOccasion()" novalidate>
      <input name="occasion-name" ng-model="occasion.name" required type="text">
      <label for="occasion-date">When is it?</label>
      <input name="occasion-date" ng-model="occasion.date" required type="date">
      <input type="submit">
    </form>
  </div>
</div>

<hr>

<div ng-show="occasions.length" class="row row-bottom-spacing">
  <div class="col-md-12">
    <h2>My Countdowns</h2>
  </div>
  <div class="col-md-12">
    Filter: <input ng-model="query">
    <!-- 
    Data-binding: When the page loads, Angular binds the name of the input box to a variable of the same name ("query") in the data model and keeps the two in sync.
    --> 
  </div>
</div>

<div ng-show="occasions.length" class="row row-bottom-spacing">
  <div class="col-md-12">
    <table class="table countdowns">
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Countdown</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="occasion in occasions | filter:query | orderBy:orderProp" class="ctdwn-listing">
        <!-- 
        Filter function: uses the query value to create a new array that contains only those records that match the query
        -->
        <td>
          <a href="#/occasions/{{occasion.id}}">
            {{ occasion.name }}
          </a>
        </td>
        <td>
          {{ occasion.date | date }}
        </td>
        <td>
          <span am-time-ago="occasion.date"></span>
        </td>
        <td>
          <button ng-click="removeOccasion()">Remove</button>
        </td>
      </tr>
    </table>
  </div>
</div>